name: Generate GitHub Snake

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: Michael315-mk
          
          # Novo output com a paleta "Ice & Onyx"
          outputs: |
            dist/snake-ice-onyx.svg?palette=github-dark&color_snake=#7DF9FF&color_dots=#c6e48b,#7bc96f,#239a3b,#196127

      - name: Auto-commit Snake animation
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update github snake (ice & onyx theme)"
          file_pattern: dist/*.svg
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <github-actions[bot]@users.github.com>"
